.account-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

.auth-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.auth-box {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #333;
}

.auth-box h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    background: #222;
    border: 1px solid #444;
    padding: 12px;
    color: white;
    border-radius: 5px;
}

.btn-auth {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-auth:hover { background: white; color: black; }
.btn-auth.red { border-color: #e50914; color: #e50914; }
.btn-auth.red:hover { background: #e50914; color: white; }

.welcome-box span { color: #e50914; }
.btn-logout {
    display: inline-block;
    margin-top: 20px;
    color: #888;
    text-decoration: none;
    font-size: 0.9rem;
}
h2 {
    color : red
}
.welcome-box {color:#ffffff}