.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.payment-card {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.8);
    border-top: 4px solid #e50914;
}

.pay-title { font-size: 1.5rem; margin-bottom: 10px; text-align: center;color:#e50914 }
.pay-total { text-align: center; font-size: 1.1rem; color: #888; margin-bottom: 30px; }
.pay-total span { color: white; font-size: 1.8rem; font-weight: bold; }

.input-group { margin-bottom: 20px; display: flex; flex-direction: column; }
.input-group label { font-size: 0.8rem; color: #aaa; margin-bottom: 8px; text-transform: uppercase; }

.input-group input {
    background: #222;
    border: 1px solid #333;
    padding: 12px;
    color: white;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus { border-color: #e50914; }

.input-row { display: flex; gap: 20px; }

.btn-pay {
    background: #e50914;
    color: white;
    border: none;
    padding: 18px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-pay:hover { background: #b20710; transform: translateY(-2px); }

.secure-icons { text-align: center; margin-top: 20px; color: #555; font-size: 0.8rem; }