* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #ce4646;
    height: 80px;
}

.menu {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: stretch;
}

.menu li {
    height: 100%;
}

/* 👉 espace uniquement pour le logo */
.menu li:first-child {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* liens */
.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 200%;
    background-color: #ce4646;
}

/* hover uniquement pour les rubriques */
.menu li:not(:first-child) a:hover {
    background-color: #6d6d6d;
}

/* logo */
.menu img {
    height: 150%;
    width: auto;
}