* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#111;
}

nav {
    background-color: #e50914;
    height: 150px;
}

.menu {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: stretch;
}

.menu li {
    height: 100%;
}


.menu li:first-child {
    padding: 0 20px;
    display: flex;
    align-items: center;
}


.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 200%;
    background-color: #e50914;
}


.menu li:not(:first-child) a:hover {
    background-color: #6d6d6d;
}


.menu img {
    height: 40%;
    width: auto;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
body{
  padding-top: 180px;
}

.nav-cart {
    display: inline-flex;
    align-items: center;
    gap: 8px; 
}

.cart-badge {
    background-color: #ffffff;
    color: rgb(219, 25, 25);
    font-size: 0.75rem; 
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    transform: translateY(1px); 
    box-shadow: 0 0 8px rgba(229, 9, 20, 0.4);
}


@keyframes popIn {
    0% { transform: scale(0); }
    80% { transform: scale(1.2); }
    100% { transform: scale(1); }
}